<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>A learning App for learning people who learn things</h1>
  <p><a href="/login">Login here!!!!!</a></p>
  <p><a href="/signup">Sign up..............</a></p>
  <p><a href="/logout">Log Out</a></p>
</body>
</html>