<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('nav', {}); %>
  <% if (stonks.length) { %>
    <h1>Your Saved Stonks</h1>
    <ul>
      <% stonks.forEach(function(stonk){ %>
        <li><%= stonk.ticker %>: <span id="ticker-<%= stonk.ticker %>"></span></li>
        <% }); %>
      </ul>
      <% } %>
    <form action="/stonks" method="POST">
      <h3>Your ticket to the moon</h3>
        <% if (errors.length) { %>
          <% errors.forEach(function(error){ %>
              <p><%= error %></p>
              <% }); %>
        <% } %>
    <label for="">Stonk Ticker</label>
    <input type="text" name="tickerSymbol">
    <input type="submit">
  </form>
</body>
<script src="/js/stonks-page.js"></script>
</html>