<%- include('header',{stylesheets: ['/css/login.css']}); %>
<div class="root">
  <div class="loginFormContainer">
    <body>
      <h1>Sign In</h1>
      <% if (errors.length) { %>
        <% errors.forEach(function(error){ %>
          <p style="color: red;"><%= error %></p>
        <% }); %>
      <% } %>
        <form class="loginForm"action="/login" method="POST">
          <label class="loginFormLabel"for="username">username</label>
          <input class="loginFormInput"type="text" name="username">
          <label class="loginFormLabel"for="password">password</label>
          <input class="loginFormInput"type="password" name="password">
          <input class="loginFormBtn"type="submit">
        </form>
  </div>
<%- include('footer'); %>
</div>
