<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/stonks.css" />
  </head>
  <body>
    <div class="root">
      <div class="nav-bar">
        <div class="nav-links-container">
          <ul>
            <li>Home</li>
            <li>Stonks</li>
            <li>Logout</li>
          </ul>
        </div>
      </div>
      <div class="stonk-container">
        <div class="add-ticker-form">
          <form action="">
            <label for="">add ticker:</label>
            <input type="text" />
            <input type="submit" />
          </form>
        </div>
        <div class="stonk-card-container">
          <div class="stonk-card">
            <div class="ticker-symbol">AMC</div>
            <div class="ticker-price">420.69</div>
          </div>
          <div class="stonk-card">
            <div class="ticker-symbol">GMELOL</div>
            <div class="ticker-price">9999999</div>
          </div>
          <div class="stonk-card">
            <div class="ticker-symbol">NAKD</div>
            <div class="ticker-price">1.01</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
