body {
  color: white;
  background-color: rgb(24, 24, 24);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
}
.root {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
}
.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainBrand {
  display: flex;
  justify-content: flex-start;
}
.mainNavUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.mainNavBarLi {
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: goldenrod;
}
.navLink:hover {
  text-decoration: none;
  color: gold;
}
.disclaimer {
  display: flex;
  justify-content: center;
  font-size: x-small;
}
